@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Oswald:wght@300&display=swap');

/*Colors & fonts*/
body {
    background: white;
    font-family: "Oswald", sans-serif;
    color: #444;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    background-color: #600047;
    color: white;
    padding: 1em;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;
}
h2 {
    font-family: "Oswald", sans-serif;
    color: #600047;
    padding: .5em;
    font-size: 1.1.35em;
    letter-spacing: 2px;
}
p, ul, span {
    font-family: "Exo 2", sans-serif;
}
img {
    border-radius: 15px;
    max-height: 10em;
}
a, a:visted {
    text-decoration: none;
    color: #600047;
}
a:hover {
    color: #9E0031;
    text-decoration: underline;
}
footer {
    background-color: #600047;
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 15px;
}
#home-footer a, footer p {
    color: white;
    text-decoration: none;
}
#home-footer a:hover {
    text-decoration: underline;
}
/*Grid & Layout*/
#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    padding: 1em 10em 1em 10em;
}
header {
    grid-column: 1/6;
    grid-row: 1/2;
}
header img {
    grid-column: 1/2;
    grid-row: 1/2;
}
#home-links {
    grid-column: 2/5;
    grid-row: 2/3;
}
footer {
    grid-column: 1/6;
    grid-row: 3/4;
}
