@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Oswald:wght@300&display=swap');

/*Colors & fonts*/
body {
    background: white;
    font-family: "Oswald", sans-serif;
    color: #444444;
}
header {
    background-color: #600047;
    border-radius: 15px;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    color: white;
    padding: 1em;
    letter-spacing: 2px;
    border-radius: 15px;
}
h2 {
    font-family: "Oswald", sans-serif;
    color: #600047;
    font-size: 1.35em;
    letter-spacing: 2px;
}
p, ul, span {
    font-family: "Exo 2", sans-serif;
}
img {
    border-radius: 15px;
    max-height: 8em;
}
a, a:visted {
    text-decoration: none;
    color: #600047;
}
a:hover {
    color: #9E0031;
    text-decoration: underline;
}
footer {
    background-color: #600047;
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 15px;
}
#home-footer a, footer p {
    color: white;
    text-decoration: none;
}
#home-footer a:hover {
    text-decoration: underline;
}

/*Grid & Layout*/
.homepage {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr auto 2fr;
  padding: 2em 12em;
}
#main-header {
  grid-column: 1/3;
  grid-row: 1/2;
}
#home-links {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 0 1em 1em 1em;
}
#home-footer {
  grid-column: 1/3;
  grid-row: 3/4;
}
