@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Oswald:wght@300&display=swap');

body {
    background: white;
    font-family: "Oswald", sans-serif;
    color: #444;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    background-color: #600047;
    color: white;
    padding: 1em;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;
}
h2 {
    font-family: "Oswald", sans-serif;
    color: #600047;
    padding: .5em;
    font-size: 1.5em;
    letter-spacing: 2px;
}
p, ul, span {
    font-family: "Exo 2", sans-serif;
}
img {
    border-radius: 15px;
    max-height: 10em;
}
a, a:visted {
    text-decoration: none;
    color: #600047;
}
a:hover {
    color: #9E0031;
    text-decoration: underline;
}
footer {
    background-color: #600047;
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 15px;
}
#home-footer a, #home-footer a:hover, footer p {
    color: white;
}